<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body style="
    font-family:Arial;
    background:#f4f7f6;
    padding:20px;
">

<div style="
    max-width:600px;
    margin:auto;
    background:white;
    border-radius:10px;
    overflow:hidden;
">

    <div style="
        background:#00796b;
        color:white;
        padding:20px;
        text-align:center;
    ">
        <h1>
            Hospital San Rafael de Tunja
        </h1>
    </div>

    <div style="padding:30px;">

        <p>
            Estimado(a)
            <strong th:text="${nombreEstudiante}">
                Estudiante
            </strong>
        </p>

        <p>
            Se solicitó un cambio de contraseña.
        </p>

        <p>
            Usuario:
            <strong th:text="${usuarioSistemas}">
            </strong>
        </p>

        <p>
            Fecha:
            <span th:text="${fechaSolicitud}">
            </span>
        </p>

        <div style="text-align:center;">

            <a
                th:href="${urlCambio}"

                style="
                    background:#00796b;
                    color:white;
                    padding:12px 20px;
                    text-decoration:none;
                    border-radius:5px;
                ">

                Restablecer Contraseña

            </a>

        </div>

    </div>

</div>

</body>
</html>